.nav {
    height: 57px;
    background: #f5f7f9;
    margin-bottom: 20px;
}
.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    font: 400 14px 'Bitter';
    text-transform: uppercase;
    color: $text-color;
    padding: 20px;
    display: block;
    &:hover {
        background: #e6e9ed;
        transition: .3s;
        
    }
}
.nav__link_active {
    background: #78c4cd;
    color: #fff;
    padding: 20px;
    &:hover {
        background: #78c4cd;
        color: #fff;
    }
}