.pop-up {
    width: 100vw;
    height: 100vh;
    background-color: rgba(#fff, 0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
    z-index: 2;
    padding: 20px;
    overflow: auto;
    &.open {
        opacity: 1;
        pointer-events: all;

    }
}
.pop-up__content {
    background: #f5f7f9;
    width: 35%;
    min-width: 300px;
    margin: auto;
    border-radius: 3px;
    position: relative;
    text-align: center;
    
}

.pop-up__title {
    text-transform: capitalize;
    font: 400 24px 'Bitter';
    color: $text-color;
    padding: 25px 0 25px;
}

.form__input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 60%;
    display: block;
    margin: auto auto 10px auto;
    border-radius: 3px;
    text-align: center;
    color: $text-color;
    font-family: Segoe UI, Helvetica, Arial,sans-serif;
}
.form__button {
    color: #fff;
    padding: 15px;
    background: #78c4cd;
    border-radius: 3px;
    font: 400 14px 'Bitter';
    text-transform: uppercase;
    margin-bottom: 25px;
    &:hover {
        background: #e6e9ed;
        transition: .3s;
        color: $text-color;
    }
}
.form__button_close {
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 3px;
}